path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke: black;
  stroke-width: 1.5px;
}

circle.fixed {
  fill: #ff0000;
  stroke: #cc6600;
  stroke-width: 2.0px;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}

circle.notfixed {
  fill: #ccc;
  stroke: #fff;
  stroke: black;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}



